
    /* header2 */
    /*css day*/
    

    .footer {
        background-color: #0075d2;
        padding: 60px 0;
        color: white;
    }

    .continue a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }


    .wrapper-linkk {
        position: absolute;
        top: 22px;
        left: 255px;
        display: flex;
        gap: 150px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .search {
        color: #2f2c1e;
        font-size: 14px;
        padding: 10px 20px 10px 40px;
        border: 0;
        background: white;
        border-radius: 20px;
    }

    .o-nhap {
        position: relative;
    }

    .fa-magnifying-glass {
        position: absolute;
        top: 13px;
        left: 15px;
        color: #2f2c1e;
    }

    .bao-boc {
        display: flex;
        gap: 130px;
        align-items: center;
    }

    .bao-item-link {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .item-linkk {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .address {
        font-size: 16px;
        padding-top: 18px;
    }

    .footer-img {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .image-logo {
        display: flex;
        gap: 7px;
    }

    .image-logo img {
        /* width: ; */
        height: 38px;
    }

    .footer-small {
        max-width: 1200px;
        margin: 0 auto;
    }


    .next {
        font-size: 10px !important;
    }

    .description-student {
        font-size: 16px;
        color: white;
        padding-bottom: 48px;
    }

    .thong-tin {
        display: flex;
        gap: 30px;
    }

    .xem-them {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

    .continue-student {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }

    .date-time {
        font-size: 12px;
        color: white;
        padding-bottom: 31px;
    }

    .quang-ba {
        font-size: 36px;
        color: white;
        padding-bottom: 40px;
    }

    .title-student {
        font-size: 30px;
        color: white;
    }

    .hs {
        background-color: #007fff !important;
    }


    .hs:hover {
        background-color: white !important;
    }

    /* css hs */
    .student {
        max-width: 1200px;
        background-color: #003e69;
        margin: 0 auto;
        padding: 50px 108px 20px;
    }

    .container-student {
        padding: 40px 0;
    }

    .bg-white a:hover {
        text-decoration: none;
    }
      

    /* block1 */
    .block2 {
        max-width: 1026px;
        margin: 0 auto;
        padding: 30px 0 0 0;
    }

    .first {
        padding-top: 48px;
    }

    @media only screen and (max-width: 768px) {
        .block2 {
            max-width: 380px;
            width: 380px;
        }
    }

    @media only screen and (max-width: 768px) {
        .container {
            max-width: 380px;
            width: 380px;
        }
    }
    


    .block3 {
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        padding-bottom: 20px;
    }

    .content {
        padding: 0 20px;
    }

    .new {
        color: #ffa33e;
        font-size: 14px;
        padding-bottom: 5px;
    }

    .continue {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;

        padding-bottom: 25px;
    }

    .item-card {
        /* box-shadow: 15px 15px 20px 0px rgba(211, 209, 216, 0.25); */
        padding-left: 0;
        padding-right: 0;
    }

    .fa-arrow-right {
        font-size: 12px;
    }

    .date {
        color: black;
        font-size: 12px;
        padding-bottom: 13px;
    }

    .description {
        color: #0068af;
        font-size: 20px;
        padding-bottom: 14px;
        
    }

    .description-two {
        color: black;
        font-size: 14px;
        padding-bottom: 75px;
        
    }

    .wrapper-card {
        display: flex;
        align-items: center;
        /* gap: 27px; */
        margin-bottom: 40px;
    }

    .avt {
        width: 100%;
        padding-bottom: 20px;
    }

    .btn {
        padding: 10px 18px;
        border: 1px solid #7f9eb4;
        
        font-size: 12px;
        color: #003e69;
        background-color: white;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: #5a5a80;
    }

    .header-block2 {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #0068af;
        max-width: 993px;
        width: 993px;
        margin-left: 16px;
    }

    
    @media only screen and (max-width: 500px) {
        .header-block2 {
            max-width: 347px;
            width: 347px;
        }
    }

    .title {
        font-size: 25px;
        color: white;
        padding: 5px 32px;
        background-color: #0068af;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    @media (max-width: 900px) {
        .thong-tin {
            flex-direction: column;
        }

        .wrapper-linkk {
            display: none;
        }

        .navbar-expand-lg {
            margin-left: 0px;
        }

        .btn-tuyen-sinh {
            display: none;
        }

        #no_between {
            justify-content: space-between;
        }

        .support {
            font-size: 13px;
        }

        .student {
            padding: 50px 40px 20px;
        }

        .footer-dt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .footer-img {
            padding-top: 15px;
            gap: 10px;
            display: block;
        }
    }


    .cricle-link {
        text-decoration: none;
        border-radius: 999px;
        padding: 5px;
        background: white;
        color: #0068af;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .navbar-nav {
        align-items: center;
        padding: 0;
    }

    .container-header-1 {
        /* max-width: 70%; */
        width: 100%;
        display: flex;
        gap: 53px;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        background: #003e69;
        margin: 0 auto;
    }

    /* .carousel-indicators{
        height: 17px;
        width: 17px;
      } */

    /*header3*/

    

    .container {
        padding: 0;
        margin: 0;
    }

    #no_between {
        justify-content: initial;
    }

    /* cái này để css cái hình tròn nhé*/


    .result-search:hover {
        color: #ff0000; /* Thay đổi màu khi hover */
        /* Hoặc bạn có thể sử dụng thuộc tính khác như background-color, border, etc. */
    }